%h1 Listing text_resources

%table
  %tr
    %th
    %th
    %th

  - @text_resources.each do |text_resource|
    %tr
      %td= link_to 'Show', text_resource
      %td= link_to 'Edit', edit_text_resource_path(text_resource)
      %td= link_to 'Destroy', text_resource, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Text resource', new_text_resource_path
