.language-stats
  - if language == project.master_language
    = "#{project.text_resources_count} text resources in total"
  - else
    - if project.has_pending_translations?(language)
      = link_to_translate(project, language)
    - else
      Nothing to translate
