- if project.text_resources.count == 0
  Nothing to translate
- else
  = render "language", :project => project, :language => project.master_language

  - for language in project.languages_without_master
    = render :partial => "language", :locals => { :project => project, :language => language }