= link_to project.name, project
TODO: 8 texts to translate
%br
= link_to 'Start translating', project_translate_path(project)
&nbsp; 
= link_to 'Edit', edit_project_path(project)
&nbsp; 
= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
