.project.list

  - @projects.each do |projects|
    .translation-project
      = render "project", :project => projects

  - if can? :manage, Project
    .actions
      = link_to 'New Project', new_project_path, :class => 'btn'
