%h1 Listing projects

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @projects.in_groups_of(2) do |projects|
    %tr{ :class => cycle("odd", "even") }
      - if projects.first
        %td{ :class => :left }
          = render "project", :project => projects.first
      - if projects.last
        %td{ :class => :right }
          = render "project", :project => projects.last

%br

= link_to 'New Project', new_project_path if can? :manage, Project
