.project.list

  - if can? :manage, Project
    .actions
      = link_to 'New Project', new_project_path, :class => 'btn'

  - @projects.in_groups_of(2, false) do |projects|
    .row
      - projects.each do |project|
        .translation-project
          = render "project", :project => project

  = will_paginate @projects

