@import button

$site_width: 960px

$small_font_size: 10px
$regular_font_size: 12px
$big_font_size: 15px
$huge_font_size: 21px

*
  margin: 0
  padding: 0

body
  background-color: #FFF
  padding: 0
  font-size: 14px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

h1
  font-size: 28px

a
  text-decoration: none

  &:hover
    text-decoration: none

ul
  list-style: none

.alert
  position: relative
  padding: 8px 35px 8px 14px
  margin-bottom: 20px
  color: #6d6d6d
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  border: 1px solid #FBEED5
  border-radius: 4px

  .close
    position: absolute
    top: 6px
    right: 8px
    cursor: pointer

.alert-success
  color: #468847
  background-color: #DFF0D8
  border-color: #D6E9C6

.alert-error
  border-color: red
  background-color: #FDD
  padding: 4px
  margin-bottom: 15px

.field_with_errors
  position: relative

  input, textarea
    border: 1px solid red

  .error
    position: absolute