@import menu

.header-wrapper
  background-color: whiteSmoke

.header
  width: 960px
  height: 120px
  margin: 0 auto
  position: relative

.logo
  margin-top: 0px
  font-family: 'Euphoria Script', cursive
  font-weight: 400
  font-size: 75px
  text-shadow: 0px 1px 1px #4d4d4d

  a
    color: #fff

  a:hover
    text-decoration: none
    color: #fff