.header-wrapper
  background-color: #F2F2F2
  border-top: 1px solid #FFF
  border-bottom: 1px solid #E6E6E6

.header
  width: 960px
  height: 100px

.logo
  font-size: 40px
  line-height: 42px
  margin-bottom: 15px

  a
    color: #666

  a:hover
    text-decoration: none
    color: #666

.menu
  bottom: -1px