.menu
  bottom: -1px
  position: absolute
  width: 960px

  ul
    margin: 0
    li
      float: left
      padding: 10px 20px 11px 20px
      border-radius: 3px 3px 0 0

      &:hover, &.current
        background: #fff
        border-top: 2px solid red
      a
        color: #000
