.project.list
  overflow: hidden
  width: 100%

  .translation-project
    display: inline
    width: 49%

  .name
    height: 100px

  .actions
    margin-top: 10px

    .btn 
      float: right