.project.list
  overflow: hidden
  width: 100%

  .row
    overflow: hidden
    margin-bottom: 20px

  .translation-project
    width: 47%%
    float: left
    padding-left: 20px

  .language-stats
    line-height: 20px

  .links
    margin-bottom: 5px

  .actions
    margin-top: 10px

    .btn
      float: right