= tabs_tag do |tab|

  = tab.home "Ntranslate", root_path

  - if @project && @project.persisted?
    = tab.projects @project.name, project_path(@project)

    - if can?(:manage, TextResource)
      = tab.text_resources "Text Resources", project_text_resources_path(@project)
